{% extends 'header.html' %}
{% block content %}
    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    

</head>
<body>
      {% if msg %}
        <b style="color:blue;">{{msg}}</b>
    {% endif %} 
    <h1>SignUp Form</h1>
    <form name="signup" method="post" action=""{% url 'signup' %}> 
        {% csrf_token %}
        <table>
            <tr>
                <td>First Name</td>
                <td><input type="text" name="fname"></td>
            </tr>
             <tr>
                <td>Last Name</td>
                <td><input type="text" name="lname"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td>Mobile</td>
                <td><input type="text" name="mobile"></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><textarea row="5" cols="20" name="address"></textarea></td>
            </tr>
             <tr>
                <td>Password</td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td>Confirm Password</td>
                <td><input type="password" name="cpassword"></td>
            </tr>
           <td colspan="2" class="text-center">
        <input type="submit" value="SUBMIT" class="btn btn-primary">
    </td>
        </table>
        
    </form>
</body>
</html>
{% endblock %}